@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gradient-to-br from-primary-500 via-purple-600 to-purple-700 min-h-screen p-5;
  }
  
  #root {
    @apply max-w-7xl mx-auto;
  }
}
